$primary-color: #282d4d;
$secondary-color: #969696;
$background-color: #1e2340;
$text-color: #0a76fb;
$green-color: #359d6f;
$red-color: #e0121b;
$border-color: rgba(
	$color: $secondary-color,
	$alpha: 0.15,
);

* {
	color: white;
}

body {
	background-color: $background-color;
	font-family: 'Roboto', sans-serif;
}

/* Hamburger Menu */
.ham-container {
	display: inline-block;
	cursor: pointer;
	z-index: 9999;
	background-color: $text-color;
	padding: 6px 10px;
	border-radius: 2px;
	margin: 8px;
}

.bar1,
.bar2,
.bar3 {
	width: 10px;
	height: 2px;
	background-color: white;
	margin: 2px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-3px, 2px);
	transform: rotate(-45deg) translate(-3px, 2px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -3px);
	transform: rotate(45deg) translate(-4px, -3px);
}

.section {
	background-color: $primary-color;
	border-radius: 3px;
	padding: 26px;
	margin-bottom: 7px;
	height: calc(100% - 7px);
	border: 1px solid $border-color;
	.title {
		font-size: 12px;
		margin-bottom: 10px;
		i {
			color: $secondary-color;
		}
	}
	.sub-title {
		font-size: 10px;
		margin-bottom: 10px;
		i {
			color: $secondary-color;
		}
	}
	.number {
		font-size: 18px;
		margin-bottom: 10px;
		font-weight: 700;
	}
	.percent {
		font-size: 10px;
		margin-bottom: 10px;
		font-weight: 700;
	}
	&-border {
		padding: 0;
		.title-wraper {
			height: 60px;
			padding: 15px 22px;
			border-bottom: 1px solid $border-color;
			display: flex;
			justify-content: space-between;
			.buttons-group {
				background-color: #3d415f;
				label {
					color: white;
					font-size: 10px;
					border-color: $border-color;
					border-radius: 0;
				}
			}
		}
		.title {
			margin: auto 0;
		}
		.info {
			padding: 16px 26px 26px 26px;
		}
	}
}

.secondary {
	color: $secondary-color;
	font-size: 10px;
	i {
		color: $secondary-color;
	}
}

.green {
	color: $green-color;
}

.red {
	color: $red-color;
}

.male i,
.male div:last-child {
	color: #007bff;
}

.bg-green {
	background-color: #36b37e;
}

.bg-orange {
	background-color: #ef6430;
}

.female i,
.female div:last-child {
	color: #ff2b88;
}

// Main
.main-nav {
	width: 190px;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: $primary-color;
	border-right: 1px solid $border-color;

	visibility: visible;
	opacity: 1;
	transition: all ease 0.25s;
}

.nav {
	&-logo {
		width: 160px;
	}
	&-item {
		font-size: 12px;
		border-left: 5px solid transparent;
		&.active {
			color: $text-color;
			border-left: 5px solid $text-color;
		}
	}

	&-link {
		padding: 14px;
		transition: color ease-in 0.1s;
		&:hover {
			color: $text-color;
		}
	}

	&-icon {
		width: 20px;
		margin-right: 6px;
		color: inherit;
	}
}

.main-header {
	margin-left: 190px;
	height: 70px;
	width: calc(100% - 190px);
	background-color: $primary-color;
	padding: 0 5px;
	border-bottom: 1px solid $border-color;

	z-index: 999;
	transition: all ease 0.25s;
}

.clock {
	font-size: 12px;
}

.account {
	font-size: 10px;
	&__name {
		font-size: 12px;
	}
	&__description {
		color: $secondary-color;
	}
}

.main-content {
	padding-top: 70px;
	margin-left: 190px;

	transition: all ease 0.25s;
	.container-fluid {
		padding: 0;
	}
}

.progess-img {
	margin-top: -5px;
	object-fit: cover;
	width: 65px;
	height: 65px;
}

.lifetime {
	&--item {
		font-size: 10px;
		&:not(:last-child) {
			margin-bottom: 17px;
		}
		.avatar {
			height: 35px;
			margin-right: 10px;
		}
		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 2px;
			width: 100px;
		}
		.tag {
			font-size: 9px;
			border-radius: 3px;
			width: fit-content;
			padding: 3px 5px;
			&-blue {
				color: #0969d6;
				background-color: #2f2f66;
			}
			&-green {
				color: #31b376;
				background-color: #263f49;
			}
		}
		.price {
			margin-left: auto;
		}
	}
	&--info {
		line-height: 15px;
	}
}

.small-description {
	color: $secondary-color;
	font-size: 10px;
}

.small-right {
	font-size: 10px;
	color: $green-color;
	i {
		color: $green-color;
	}
	&-red {
		color: $red-color;
		i {
			color: $red-color;
		}
	}
}

.border-right {
	border-right: 1px solid $border-color;
}

.browser {
	&-img {
		width: 27px;
		height: 27px;
		img {
			width: 100%;
		}
	}
	.small-right {
		width: 30px;
		margin-left: 30px;
	}
}

.row-multi {
	height: calc(100% - 7px);
}

.btn-black {
	background-color: #292929;
	padding: 1px 3px;
	font-size: 10px;
	text-align: center;
	margin-bottom: 3px;
}

.table,
.table th,
.table td {
	border-collapse: collapse;
	border: 1px solid $border-color;
}

.table td {
	padding: 12px;
}

.map {
	// height: 230px;
	width: 100%;
	img {
		width: 100%;
	}
}

.main-footer {
	background-color: $primary-color;
	margin-left: 190px;
	height: 34px;
	// width: calc(100% - 190px);
	padding: 0 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	.copyright {
		font-size: 11px;
		color: $secondary-color;
	}
}

.progress {
	background-color: $border-color;
}

.platform-list {
	.title {
		width: 40px;
	}
	.title.fw-light {
		width: 40px;
		text-align: right;
	}
}

.device-list {
	.title {
		width: 100px;
	}
	.title.fw-light {
		width: 40px;
		text-align: right;
	}
}

.wrap-content {
	display: flex;
	flex-direction: column;
}

@media all and (max-width: 1024px) {
	.wrap-content {
		flex-direction: row;
		.section {
			width: 100%;
			&:first-child {
				margin-right: 7px;
			}
		}
	}
}

@media all and (max-width: 768px) {
	.wrap-content {
		flex-direction: column;
	}
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

// switch
.material-switch {
	& > input[type='checkbox'] {
		display: none;
	}
	& > label {
		cursor: pointer;
		height: 0px;
		position: relative;
		width: 40px;
		&::before {
			background: rgb(255, 255, 255);
			box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5);
			border-radius: 8px;
			content: '';
			height: 9px;
			margin-top: -8px;
			position: absolute;
			opacity: 0.3;
			transition: all 0.4s ease-in-out;
			width: 28px;
		}
		&::after {
			background: rgb(255, 255, 255);
			border-radius: 16px;
			box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
			content: '';
			height: 14px;
			left: -4px;
			margin-top: -8px;
			position: absolute;
			top: -3px;
			transition: all 0.3s ease-in-out;
			width: 14px;
		}
	}
	& > input[type='checkbox']:checked + label {
		&::before {
			opacity: 0.5;
		}
		&::after {
			left: 16px;
		}
	}
}
