* {
  color: white;
}

body {
  background-color: #1e2340;
  font-family: 'Roboto', sans-serif;
}

/* Hamburger Menu */
.ham-container {
  display: inline-block;
  cursor: pointer;
  z-index: 9999;
  background-color: #0a76fb;
  padding: 6px 10px;
  border-radius: 2px;
  margin: 8px;
}

.bar1,
.bar2,
.bar3 {
  width: 10px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 5px);
  transform: rotate(-45deg) translate(-3px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -5px);
  transform: rotate(45deg) translate(-4px, -5px);
}

.section {
  background-color: #282d4d;
  border-radius: 3px;
  padding: 26px;
  margin-bottom: 7px;
  height: calc(100% - 7px);
  border: 1px solid rgba(150, 150, 150, 0.15);
}

.section .title {
  font-size: 12px;
  margin-bottom: 10px;
}

.section .title i {
  color: #969696;
}

.section .sub-title {
  font-size: 10px;
  margin-bottom: 10px;
}

.section .sub-title i {
  color: #969696;
}

.section .number {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.section .percent {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.section-border {
  padding: 0;
}

.section-border .title-wraper {
  height: 60px;
  padding: 15px 22px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-border .title-wraper .buttons-group {
  background-color: #3d415f;
}

.section-border .title-wraper .buttons-group label {
  color: white;
  font-size: 10px;
  border-color: rgba(150, 150, 150, 0.15);
  border-radius: 0;
}

.section-border .title {
  margin: auto 0;
}

.section-border .info {
  padding: 16px 26px 26px 26px;
}

.secondary {
  color: #969696;
  font-size: 10px;
}

.secondary i {
  color: #969696;
}

.green {
  color: #359d6f;
}

.red {
  color: #e0121b;
}

.male i,
.male div:last-child {
  color: #007bff;
}

.bg-green {
  background-color: #36b37e;
}

.bg-orange {
  background-color: #ef6430;
}

.female i,
.female div:last-child {
  color: #ff2b88;
}

.main-nav {
  width: 190px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #282d4d;
  border-right: 1px solid rgba(150, 150, 150, 0.15);
}

.nav-logo {
  width: 160px;
}

.nav-item {
  font-size: 12px;
  border-left: 5px solid transparent;
}

.nav-item.active {
  color: #0a76fb;
  border-left: 5px solid #0a76fb;
}

.nav-link {
  padding: 14px;
  -webkit-transition: color ease-in 0.1s;
  transition: color ease-in 0.1s;
}

.nav-link:hover {
  color: #0a76fb;
}

.nav-icon {
  width: 20px;
  margin-right: 6px;
  color: inherit;
}

.main-header {
  margin-left: 190px;
  height: 70px;
  width: calc(100% - 190px);
  background-color: #282d4d;
  padding: 0 5px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
}

.clock {
  font-size: 12px;
}

.account {
  font-size: 10px;
}

.account__name {
  font-size: 12px;
}

.account__description {
  color: #969696;
}

.main-content {
  padding-top: 70px;
  margin-left: 190px;
}

.main-content .container-fluid {
  padding: 0;
}

.progess-img {
  margin-top: -5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 65px;
  height: 65px;
}

.lifetime--item {
  font-size: 10px;
}

.lifetime--item:not(:last-child) {
  margin-bottom: 17px;
}

.lifetime--item .avatar {
  height: 35px;
  margin-right: 10px;
}

.lifetime--item .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  width: 100px;
}

.lifetime--item .tag {
  font-size: 9px;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
}

.lifetime--item .tag-blue {
  color: #0969d6;
  background-color: #2f2f66;
}

.lifetime--item .tag-green {
  color: #31b376;
  background-color: #263f49;
}

.lifetime--item .price {
  margin-left: auto;
}

.lifetime--info {
  line-height: 15px;
}

.small-description {
  color: #969696;
  font-size: 10px;
}

.small-right {
  font-size: 10px;
  color: #359d6f;
}

.small-right i {
  color: #359d6f;
}

.small-right-red {
  color: #e0121b;
}

.small-right-red i {
  color: #e0121b;
}

.border-right {
  border-right: 1px solid rgba(150, 150, 150, 0.15);
}

.browser-img {
  width: 27px;
  height: 27px;
}

.browser-img img {
  width: 100%;
}

.browser .small-right {
  width: 30px;
  margin-left: 30px;
}

.row-multi {
  height: calc(100% - 7px);
}

.btn-black {
  background-color: #292929;
  padding: 1px 3px;
  font-size: 10px;
  text-align: center;
  margin-bottom: 3px;
}

.table,
.table th,
.table td {
  border-collapse: collapse;
  border: 1px solid rgba(150, 150, 150, 0.15);
}

.table td {
  padding: 12px;
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
}

.main-footer {
  background-color: #282d4d;
  margin-left: 190px;
  height: 34px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer .copyright {
  font-size: 11px;
  color: #969696;
}

.progress {
  background-color: rgba(150, 150, 150, 0.15);
}

.platform-list .title {
  width: 40px;
}

.platform-list .title.fw-light {
  width: 40px;
  text-align: right;
}

.device-list .title {
  width: 100px;
}

.device-list .title.fw-light {
  width: 40px;
  text-align: right;
}

.wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 1024px) {
  .wrap-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrap-content .section {
    width: 100%;
  }
  .wrap-content .section:first-child {
    margin-right: 7px;
  }
}

@media all and (max-width: 768px) {
  .wrap-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
